<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="pattern">%-5p [%d] [%t] (%M [%C:%L]) - %m%n</property>
        <property name="pattern_timing">%-5p;%d;%t;%C.%M;%m%n</property>
    </properties>
    
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>